$bp-largest: 1200px; // 1200px
$bp-large: 1000px; // 1000px
$bp-medium: 800px; // 800px
$bp-small: 500px; // 800px

$color-grey-light-1: rgba(0,0,0,0.2);
$color-grey-light-2: #aaa;
$color-grey-light-3: #999;

$color-primary: #ad1f36;
$color-primary-dark: #c74057;

$box-shadow-dark: 0 10px 10px -10px #000;

$indent_1: 5px;
$indent_2: 10px;
$indent_3: 15px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 58%;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        background-color: $color-primary-dark;
    }
}

// Home page styling

.home {
    padding: 0 13vw;

    @media only screen and (max-width: 62.5em) {
        padding: 0;
    }
}

// Utility classes

.w-100 {
    width: 100%;
}

.br-circle {
    border-radius: 50%;
}

.p-small {
    padding: 5px 10px;
}

.mb-1 {
    margin-bottom: $indent_1;
}
  
.mb-2 {
    margin-bottom: $indent_2;
}
  
.mb-3 {
    margin-bottom: $indent_3;
}

.mt-1 {
    margin-top: $indent_1;
}
  
.mt-2 {
    margin-top: $indent_2;
}
  
.mt-3 {
    margin-top: $indent_3;
}