.backdrop {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: absolute;
	left: calc((100% - 40vw) / 2);
	top: 20vh;
	z-index: 500;
	width: 40vw;
	border: none;
	background-color: white;
	box-shadow: 1px 1px 1px black;
	overflow-y: auto;

	height: 75vh;
	font-size: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transform: translateY(-100vh);
	opacity: 0;
	transition: all 0.3s ease-out;

	@media only screen and (max-width: $bp-medium) {
		width: 70vw;
		left: calc((100% - 70vw) / 2);
	}

	@media only screen and (max-width: $bp-small) {
		width: 90vw;
		left: calc((100% - 90vw) / 2);
	}

	&__btn {
		position: absolute;
		right: 15px;
		top: 15px;
		font-weight: bold;
		font-size: 2rem;
		color: $color-grey-light-2;
		cursor: pointer;

		&:hover {
			color: $color-grey-light-3;
		}
	}

	&__animate {
		transform: translateY(0);
		opacity: 1;
		transition: all 0.3s ease-in;
	}

	&__middle {
		height: 100%;
		overflow-y: auto;
	}
}
